  .custom-pink-bg {
    background-color: pink;
}
.required:after {
    content: " *";
    color: red;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

.btn.btn-prink {
    background-color: pink;
    color: white; 
    border: 1px solid #ff1493; 
  }
.btn.btn-hotpink{
	color: white; 
	background-color: #ed3b91;
}
.text-h3{
	line-height: 1.5;
    font-weight: bold;
  color: #690243;
  font-family: "Poppins", Arial, sans-serif; 
}
.img-no-border {
  border: none;
}
.bold-category-name {
  font-weight: bold;
}
.featured__controls {
	text-align: center;
	margin-bottom: 50px;
}

.featured__controls ul li {
	list-style: none;
	font-size: 18px;
	color: #1c1c1c;
	display: inline-block;
	margin-right: 25px;
	position: relative;
	cursor: pointer;
	font-family: "Poppins", Arial, sans-serif;
}

.featured__controls ul li.active:after {
	opacity: 1;
}

.featured__controls ul li:after {
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #ed3b91;
	content: "";
	opacity: 0;
}

.featured__controls ul li:last-child {
	margin-right: 0;
}
.subscribe{
	background-color: #ffc0cb;
}
